@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/regular.woff2") format("woff2"),
    url("../fonts/regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/medium.woff2") format("woff2"),
    url("../fonts/medium.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/bold.woff2") format("woff2"),
    url("../fonts/bold.woff") format("woff");
}

html {
  height: 100%;
}


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: Rubik, Arial, sans-serif;
}

img {
  display: block;
}

.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.site-header {
  padding: 45px 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  column-gap: 150px;
}

.logo-link {
  margin-right: 7px;
}

.nav-list,
.hero-details-list,
.services-list,
.market-list,
.market-features-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.nav-link {
  color: #4f5665;
  text-decoration: none;
}

.header-links-wrapper {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.header-link {
  font-weight: 500;
  color: #0b132a;
  text-decoration: none;

}

.header-active-link {
  min-width: 150px;
  padding: 13px;
  color: #f53855;
  border-radius: 50px;
  border: 1px solid #f53855;
  text-align: center;
}

.site-body {
  flex-grow: 1;
}

.hero {
  padding-top: 71px;
  padding-bottom: 95px;
  background: url("../images/herobg.svg") no-repeat calc(50% + 325px) calc(45px);
}

.hero-wrapper {
  width: 555px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  color: #0b132a;
}

.hero-title-stage {
  font-weight: 700;
}

.hero-desc {
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 30px;
  color: #4f5665;
}

.hero-desc-stage {
  font-weight: 500;
}

.hero-link {
  position: relative;
  padding: 17px;
  min-width: 250px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #f53838;
  border-radius: 10px;
  text-decoration: none;
}

.hero-link::before {
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: -1;
  width: 212px;
  height: 60px;
  border-radius: 10px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
  content: "";

}

.hero-details-wrapper {
  position: relative;
  padding: 37px 0;
  background-color: #fff;
}

.hero-details-wrapper::before {
  position: absolute;
  top: 53px;
  left: 36px;
  z-index: -1;
  width: 1069px;
  height: 189px;
  border-radius: 10px;
  opacity: 0.06;
  background: #0d1025;
  filter: blur(57px);
  content: "";
}

.hero-details-list {
  justify-content: space-between;
  column-gap: 0;
}

.hero-details-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 365px;
  height: 125px;
  padding-left: 182px;
  border-right: 1px solid rgba(238, 239, 242, 1);
}

.hero-details-item::before {
  position: absolute;
  left: 91px;
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ffecec url("../images/avatar.svg") no-repeat center;
  content: "";
}

.hero-details-item:nth-child(2) {
  padding-left: 204px;
}

.hero-details-item:nth-child(2)::before {
  left: 113px;
  background-image: url("../images/location.svg");
}

.hero-details-item:nth-child(3)::before {
  background-image: url("../images/server.svg");
}

.hero-details-item:nth-child(3) {
  border-right: none;
}

.hero-details-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #0b132a;
}

.hero-details-desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

.services {
  padding-bottom: 127px;
  background: url("../images/servicebg.svg") no-repeat calc(50% - 270px) top;
}

.services-outer-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.services-wrapper {
  width: 428px;
  display: flex;
  margin-top: 55px;
  flex-direction: column;
  row-gap: 20px;

}

.services-title,
.services-desc,
.market-details-title,
.market-details-desc {
  margin-top: 0;
  margin-bottom: 0;
}

.services-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0b132a;
}

.services-desc {
  line-height: 30px;
  color: #4f5665;
}

.services-list {
  align-items: flex-start;
  flex-direction: column;
  column-gap: 0;
  row-gap: 15px;
}

.services-item,
.market-features-item {
  position: relative;
  padding-left: 35px;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.services-item::before,
.market-features-item::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/checkfull.svg");
  background-repeat: no-repeat;
  content: "";
}

.market-map-section {
  padding-top: 80px;
  background: linear-gradient(180deg,
      #F8F8F8 0%, rgba(248, 248, 248, 0.00) 100%);
}

.market {
  margin-bottom: 150px;
}

.market-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.market-details-wrapper {
  display: flex;
  width: 555px;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.market-details-title,
.market-title,
.market-cost {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0b132a;
}

.market-details-desc {
  color: #4f5665;
  text-align: center;
  line-height: 30px;
}

.market-list {
  column-gap: 50px;
  justify-content: center;
}

.market-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  padding: 80px 70px 50px 70px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.market-active-item {
  border-color: #f53838;
}

.market-img {
  margin-bottom: 30px;
}

.market-title,
.market-cost {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
}

.market-features-list {
  min-height: 280px;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 0;
  row-gap: 10px;
}

.market-features-item {
  padding-left: 40px;
}

.market-features-item::before {
  left: -4px;
  background-image: url("../images/check.svg");
}

.market-cost {
  font-size: 25px;
  margin-bottom: 20px;
}

.market-cost-stage {
  font-weight: 400;
  color: #4f5665;
}

.market-link {
  padding: 13px;
  min-width: 178px;
  font-weight: 700;
  text-align: center;
  color: #f53838;
  border: 2px solid #f53838;
  border-radius: 50px;
  text-decoration: none;
}

.market-active-link {
  position: relative;
  color: #fff;
  background-color: #f53838;
}

.market-active-link::before {
  position: absolute;
  top: 17px;
  left: 25px;
  z-index: 1;
  width: 127px;
  height: 45px;
  border-radius: 60px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
  content: "";
}

.map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 156px;
}

.map-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 555px;
}

.map-details-title,
.map-details-desc,
.clients-details-title,
.clients-details-desc {
  margin-top: 0;
  margin-bottom: 0;
}

.map-details-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: #0d132a;
}

.map-details-desc {
  line-height: 30px;
  text-align: center;
  color: #4f5665;
}

.map-details-desc-stage {
  font-weight: 500;
}

.partners {
  padding-bottom: 50px;
  background-color: #fff;
}

.partners-list {
  padding-top: 80px;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.partners-item:nth-child(1) {
  margin-right: 42px;
}

.partners-item:nth-child(4) {
  margin-right: 47px;
}

.clients {
  padding-bottom: 181px;
  background-color: #fff;
}

.clients-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.clients-details-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 555px;
}

.clients-details-title {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0b132a;
}

.clients-details-desc {
  line-height: 30px;
  text-align: center;
  color: #4F5665;
}

.clients-list {
  display: flex;
  align-self: flex-start;
  column-gap: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.clients-item {
  width: 400px;
  padding: 30px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.clients-active-item {
  border-color: #f53838;
}

.client-outer-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.client-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.client-personal-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.client-rating-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.client-name {
  font-size: 18px;
  font-weight: 500;
  color: #0b132a;
}

.client-location {
  font-size: 14px;
  color: #4f5665;
}

.client-rating {
  line-height: 30px;
  color: #0b132a;
}

.client-feedback {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
  color: #0b132a;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}

.pagination-objects-wrapper {
  display: flex;
  column-gap: 15px;
}

.pagination-object {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dde0e4;
}

.active-object {
  width: 45px;
  border-radius: 15px;
  background-color: #f53838;
}

.pagination-btn-wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.pagination-btn {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 2px solid #f53838;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.active-btn {
  background-color: #f53838;
  box-shadow: 0px 14px 44px 0px rgba(14, 20, 34, 0.08);
}

.site-article {
  position: relative;
}

.article-wrapper {
  position: absolute;
  bottom: calc(-128px);
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58px 70px;
  border-radius: 10px;
  background-color: #fff;
}

.article-details-wrapper {
  display: flex;
  width: 371px;
  flex-direction: column;
  row-gap: 20px;
}

.article-title,
.article-desc {
  margin-top: 0;
  margin-bottom: 0;
}

.article-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  color: #0b132a;
}

.article-desc {
  line-height: 30px;
  color: #4f5665;
}

.article-link {
  position: relative;
  min-width: 250px;
  padding: 17px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #f53838;
  text-decoration: none;
}

.article-link::before {
  position: absolute;
  top: 25px;
  left: 19px;
  z-index: 1;
  width: 127px;
  height: 45px;
  border-radius: 10px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
  content: "";
}

.site-footer {
  padding-top: 180px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-left-wrapper {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.footer-logo-link {
  margin-bottom: 20px;
}

.footer-desc {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 30px;
  color: #4f5665;
}

.footer-desc-stage {
  font-weight: 500;
}

.social-media-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  column-gap: 2px;
  list-style: none;
}

.social-media-item {
  margin-left: -18.5px;
}

.social-media-link {
  position: relative;
}

.social-media-link::before {
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 16px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 4px solid white;
  border-color: white;
  border-radius: 50%;
  content: "";
}

.copyright {
  color: #afb5c0;
}

.copyright-stage {
  font-weight: 500;
}

.footer-right-wrapper {
  display: flex;
  column-gap: 126px;
}

.footer-list-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #0b132a;
}

.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footer-link {
  color: #4f5665;
  line-height: 30px;
  text-decoration: none;
}